attrs==21.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.6
click==7.1.2
clickclick==20.10.2
connexion==2.9.0
Flask==1.1.4
Flask-Cors==3.0.10
gunicorn==20.1.0
idna==3.2
importlib-metadata==4.8.1
inflection==0.5.1
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
lxml==4.6.3
MarkupSafe==2.0.1
mistune==0.8.4
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
pyrsistent==0.18.0
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
swagger-ui-bundle==0.0.9
tinydb==4.5.2
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==1.0.1
zipp==3.6.0
